
.sign-in-div {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width:50%;
  height: 400px;
  transform: translate(-50%, -50%);
}

.sign-up-div {
text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width:50%;
  transform: translate(-50%, -50%);
}

.error {
  font-size: medium;
  color: red
}

.btn {
  margin: 5px;
}

.btn-group {
  display: flex;
  float: right;
}

.dashboard {
  text-align: center;
  border: 1px solid maroon;
  border-radius: 5px;
  position: fixed;

  top: 50%;
  left: 50%;
  width:98%;
  height: 85%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.transactions-container {
  border: 1px solid maroon;
  margin-top: 25px;
  height: 350px;
  border-radius: 5px;

}
.transactions-table {
  height: 240px;
  overflow: auto;
}
.transaction-view-btn {
  margin-top: 10px;
}

.accounts-container {
  border: 1px solid maroon;
  margin-top: 25px;
  height: 350px;
  border-radius: 5px;
}
.accounts-table {
  height: 240px;
  overflow: auto;
}
.account-view-btn {
  margin-top: 10px;
}
.accounts-panel {
  text-align: center;
  border: 1px solid maroon;
  position: fixed;
  top: 50%;
  left: 50%;
  width:90%;
  height: 75%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}
.accounts-panel-table {
  height: 85%;
  overflow: auto;
}
.account-form {
  text-align: center;
  border: 1px solid maroon;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  width:90%;
  height: 75%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  padding: 75px;
}

.budgets-container {
  border: 1px solid maroon;
  margin-top: 25px;
  height: 350px;
  border-radius: 5px;
}
.budgets-table {
  height: 240px;
  overflow: auto;
}
.budgets-view-btn {
  margin-top: 10px;
}

.bills-container {
  border: 1px solid maroon;
  margin-top: 25px;
  height: 350px;
  border-radius: 5px;

}

.goals-container {
  border: 1px solid maroon;
  margin-top: 25px;
  height: 350px;
  border-radius: 5px;

}

.transactions-panel {
  text-align: center;
  border: 1px solid maroon;
  position: fixed;
  top: 50%;
  left: 50%;
  width:90%;
  height: 75%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}
.transactions-panel-table {
  height: 85%;
  overflow: auto;
}

.transaction-form {
  text-align: center;
  border: 1px solid maroon;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  width:90%;
  height: 75%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  padding: 75px;
}

.user-view {
  width: 80% !important;
}

.user-update-form {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width:50%;
  transform: translate(-50%, -50%);
}