
.sign-in-div {
  text-align: center;
  /* border: 2px solid black; */
  position: fixed;
  top: 50%;
  left: 50%;
  width:50%;
  height: 400px;
  transform: translate(-50%, -50%);
}

.sign-up-div {
text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width:50%;
  transform: translate(-50%, -50%);
}

.error {
  font-size: medium;
  color: red
}

.btn {
  margin: 5px;
}

.btn-group {
  display: flex;
  float: right;
}

.dashboard {
  text-align: center;
  border: 1px solid black;
  position: fixed;
  /* margin-top: 0px; */
  top: 50%;
  left: 50%;
  width:98%;
  height: 85%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.transactions-container {
  border: 2px solid black;
  margin-top: 25px;
  height: 350px;
  overflow: scroll;
}

.accounts-container {
  border: 2px solid black;
  margin-top: 25px;
  height: 350px;

}

.budgets-container {
  border: 2px solid black;
  margin-top: 25px;
  height: 350px;
}

.bills-container {
  border: 2px solid black;
  margin-top: 25px;
  height: 350px;

}

.goals-container {
  border: 2px solid black;
  margin-top: 25px;
  height: 350px;

}

.transaction-view-btn {
  margin-top: 35px;
}

/* .transaction-btns {
  padding-top: 5px;
  padding-bottom: 5px;
} */

.transactions-panel {
  text-align: center;
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  width:90%;
  height: 75%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}
