

$primary: #2e45e6;
$success: #7fdaad;
$danger: #DB0000;
$warning: #e7b039;
$info: #7ac9e2;

// $light: #2a98fe;
.bg-light {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 40%, rgba(66, 117, 256, 0.2) 100%);
}



@import '~bootstrap/scss/bootstrap.scss';