

$primary: #485ce6;
$success: #7fdaad;
$danger: #DB0000;
$warning: #fbd148;
$info: #7ac9e2;

// $light: #2a98fe;
.navbar {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
}
.bg-light {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 40%, rgba(66, 117, 256, 0.2) 100%);
}



@import '~bootstrap/scss/bootstrap.scss';